.formGroup {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.input {
    height: 35px;
    border: 1px solid #888;
    width: 500px;
    font-size: 16px;
    padding: 0px 20px;
}